/dts-v1/;
/plugin/;

#include <dt-bindings/usb/pd.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/sensor-dev.h>

/ {
	fragment@0 {
		target-path = "/";

		__overlay__ {
			ext_cam4_37m_clk: external-camera-37m-clock {
				compatible = "fixed-clock";
				clock-frequency = <37125000>;
				clock-output-names = "ext_cam4_37m_clk";
				#clock-cells = <0>;
			};

			ext_cam4_25m_clk: external-camera-25m-clock {
				compatible = "fixed-clock";
				clock-frequency = <25000000>;
				clock-output-names = "ext_cam4_25m_clk";
				#clock-cells = <0>;
			};

			ext_cam4_24m_clk: external-camera-24m-clock {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24000000>;
				clock-output-names = "ext_cam4_24m_clk";
			};

			ext_cam4_27m_clk: external-camera-27m-clock {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <27000000>;
				clock-output-names = "ext_cam4_27m_clk";
			};

			vdd_cam4_5v: vdd-cam4-5v-regulator {
				compatible = "regulator-fixed";
				regulator-name = "vdd_cam4_5v";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
			};

			cam4_dovdd: cam4-dovdd {
				compatible = "regulator-fixed";
				regulator-name = "cam4_dovdd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				vin-supply = <&vdd_cam4_5v>;
			};

			cam4_avdd: cam4-avdd {
				compatible = "regulator-fixed";
				regulator-name = "cam4_avdd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				vin-supply = <&vdd_cam4_5v>;
			};

			cam4_dvdd: cam4-dvdd {
				compatible = "regulator-fixed";
				regulator-name = "cam4_dvdd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				vin-supply = <&vdd_cam4_5v>;
			};
		};
	};

	/* Link path: sensor->csi2_dphy4->mipi4_csi2->rkcif_mipi_lvds4--->rkcif_mipi_lvds4_sditf->rkisp1_vir1 */
	fragment@1 {
		target = <&i2c7>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c7m0_xfer>;
			#address-cells = <1>;
			#size-cells = <0>;

			dw9714_4: dw9714-4@c {
				status = "okay";
				compatible = "dongwoon,dw9714";
				reg = <0xc>;
				rockchip,camera-module-index = <4>;
				rockchip,vcm-max-current = <100>;
				rockchip,vcm-start-current = <0>;
				rockchip,vcm-rated-current = <100>;
				rockchip,vcm-step-mode = <0xd>;
				rockchip,vcm-dlc-enable = <0>;
				rockchip,vcm-mclk = <0>;
				rockchip,vcm-t-src = <0>;
				rockchip,camera-module-facing = "back";
			};

			ov5647_4: ov5647-4@36 {
				compatible = "ovti,ov5647";
				status = "disabled";
				reg = <0x36>;
				clocks = <&ext_cam4_25m_clk>;
				clock-names = "ext_cam_25m_clk";
				pwdn-gpios = <&gpio6 8 GPIO_ACTIVE_LOW>;
				lens-focus = <&dw9714_4>;
				port {
					ov5647_out4: endpoint {
						remote-endpoint = <&dphy4_in_ov5647>;
						data-lanes = <1 2>;
					};
				};
			};

			ov5648_4: ov5648-4@36 {
				compatible = "ovti,ov5648";
				status = "disabled";
				reg = <0x36>;
				clocks = <&ext_cam4_24m_clk>;
				clock-names = "xvclk";
				dovdd-supply= <&cam4_dovdd>; /* 1.8v */
				avdd-supply = <&cam4_avdd>;  /* 2.8v */
				dvdd-supply = <&cam4_dvdd>;  /* 1.2v */
				pwdn-gpios = <&gpio6 8 GPIO_ACTIVE_HIGH>;
				reset-gpios = <&gpio6 9 GPIO_ACTIVE_LOW>;
				rotation = <180>;

				rockchip,camera-module-index = <4>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "THDS11073";
				rockchip,camera-module-lens-name = "Largan-40122a1";
				lens-focus = <&dw9714_4>;
				port {
					/* MIPI CSI-2 bus endpoint */
					ov5648_out4: endpoint {
						remote-endpoint = <&dphy4_in_ov5648>;
						clock-lanes = <0>;
						data-lanes = <1 2>;
					};
				};
			};

			ov8858_4: ov8858-4@36 {
				compatible = "ovti,ov8858";
				status = "disabled";
				reg = <0x36>;
				clocks = <&ext_cam4_24m_clk>;
				clock-names = "xvclk";
				dovdd-supply= <&cam4_dovdd>; /* 1.8v */
				avdd-supply = <&cam4_avdd>;  /* 2.8v */
				dvdd-supply = <&cam4_dvdd>;  /* 1.2v */
				pwdn-gpios = <&gpio6 8 GPIO_ACTIVE_HIGH>;
				reset-gpios = <&gpio6 9 GPIO_ACTIVE_HIGH>;
				rotation = <180>;

				rockchip,camera-module-index = <4>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "HS5885-BNSM1018-V01";
				rockchip,camera-module-lens-name = "default";
				lens-focus = <&dw9714_4>;
				port {
					/* MIPI CSI-2 bus endpoint */
					ov8858_out4: endpoint {
						remote-endpoint = <&dphy4_in_ov8858>;
						clock-lanes = <0>;
						data-lanes = <1 2>;
					};
				};
			};

			ov13850_4: ov13850-4@10 {
				compatible = "ovti,ov13850";
				status = "disabled";
				reg = <0x10>;
				clocks = <&ext_cam4_24m_clk>;
				clock-names = "xvclk";
				dovdd-supply= <&cam4_dovdd>; /* 1.8v */
				avdd-supply = <&cam4_avdd>;  /* 2.8v */
				dvdd-supply = <&cam4_dvdd>;  /* 1.2v */
				pwdn-gpios = <&gpio6 8 GPIO_ACTIVE_HIGH>;
				reset-gpios = <&gpio6 9 GPIO_ACTIVE_HIGH>;
				rotation = <180>;
				rockchip,camera-module-index = <4>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "ZC-OV13850R2A-V1";
				rockchip,camera-module-lens-name = "Largan-50064B31";
				lens-focus = <&dw9714_4>;
				port {
					/* MIPI CSI-2 bus endpoint */
					ov13850_out4: endpoint {
						remote-endpoint = <&dphy4_in_ov13850>;
						clock-lanes = <0>;
						data-lanes = <1 2>;
					};
				};
			};

			imx415_4: imx415-4@1a {
				compatible = "sony,imx415";
				status = "disabled";
				reg = <0x1a>;
				clocks = <&ext_cam4_37m_clk>;
				clock-names = "xvclk";
				avdd-supply = <&cam4_avdd>;
				dovdd-supply = <&cam4_dovdd>;
				dvdd-supply = <&cam4_dvdd>;
				reset-gpios = <&gpio6 9 GPIO_ACTIVE_LOW>;

				rockchip,camera-module-index = <4>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "CMK-OT2022-PX1";
				rockchip,camera-module-lens-name = "IR0147-50IRC-8M-F20";
				port {
					imx415_out4: endpoint {
						remote-endpoint = <&dphy4_in_imx415>;
						clock-lanes = <0>;
						data-lanes = <1 2>;
					};
				};
			};

			sc530ai_4: sc530ai-4@30 {
				compatible = "smartsens,sc530ai";
				status = "okay";
				reg = <0x30>;
				clocks = <&ext_cam4_24m_clk>;
				clock-names = "xvclk";
				pwdn-gpios = <&gpio6 8 GPIO_ACTIVE_HIGH>;
				reset-gpios = <&gpio6 9 GPIO_ACTIVE_HIGH>;
				rockchip,camera-module-index = <4>;
				rockchip,camera-module-facing = "back";
				rockchip,camera-module-name = "CMK-OT2115-PC1";
				rockchip,camera-module-lens-name = "30IRC-F16";
				rotation = <180>;

				port {
					sc530ai_out4: endpoint {
						remote-endpoint = <&dphy4_in_sc530ai>;
						clock-lanes = <0>;
						data-lanes = <1 2>;
					};
				};
			};
		};
	};

	fragment@2 {
		target = <&csi2_dphy1_hw>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&csi2_dphy4>;

		__overlay__ {
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;
					dphy4_in_ov5648: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&ov5648_out4>;
						data-lanes = <1 2>;
					};
					dphy4_in_ov8858: endpoint@2 {
						reg = <2>;
						remote-endpoint = <&ov8858_out4>;
						data-lanes = <1 2>;
					};
					dphy4_in_ov13850: endpoint@3 {
						reg = <3>;
						remote-endpoint = <&ov13850_out4>;
						data-lanes = <1 2>;
					};
					dphy4_in_ov5647: endpoint@4 {
						reg = <4>;
						remote-endpoint = <&ov5647_out4>;
						data-lanes = <1 2>;
					};
					dphy4_in_imx415: endpoint@5 {
						reg = <5>;
						remote-endpoint = <&imx415_out4>;
						data-lanes = <1 2>;
					};
					dphy4_in_sc530ai: endpoint@6 {
						reg = <6>;
						remote-endpoint = <&sc530ai_out4>;
						data-lanes = <1 2>;
					};
				};
				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;
					csidphy4_out: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&mipi4_csi2_input>;
					};
				};
			};
		};
	};

	fragment@4 {
		target = <&mipi4_csi2>;

		__overlay__ {
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					#address-cells = <1>;
					#size-cells = <0>;
					mipi4_csi2_input: endpoint@1 {
						reg = <1>;
						remote-endpoint = <&csidphy4_out>;
					};
				};
				port@1 {
					reg = <1>;
					#address-cells = <1>;
					#size-cells = <0>;
					mipi4_csi2_output: endpoint@0 {
						reg = <0>;
						remote-endpoint = <&cif_mipi_in4>;
					};
				};
			};
		};
	};

	fragment@5 {
		target = <&rkcif>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&rkcif_mipi_lvds4>;

		__overlay__ {
			status = "okay";

			port {
				cif_mipi_in4: endpoint {
					remote-endpoint = <&mipi4_csi2_output>;
				};
			};
		};
	};

	fragment@7 {
		target = <&rkcif_mipi_lvds4_sditf>;

		__overlay__ {
			status = "okay";

			port {
				mipi_lvds4_sditf: endpoint {
					remote-endpoint = <&isp1_vir1>;
				};
			};
		};
	};

	fragment@8 {
		target = <&rkcif_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&rkisp1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@10 {
		target = <&isp1_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@11 {
		target = <&rkisp1_vir1>;

		__overlay__ {
			status = "okay";

			port {
				#address-cells = <1>;
				#size-cells = <0>;
				isp1_vir1: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&mipi_lvds4_sditf>;
				};
			};
		};
	};
};
