// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3588-lubancat-cam.dtsi"

/* Link path: sensor->csi2_dphy4->mipi4_csi2->rkcif_mipi_lvds4--->rkcif_mipi_lvds4_sditf->rkisp1_vir1 */
&i2c7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7m0_xfer>;
	
	dphy4_dw9714: dw9714@c {
		status = "okay";
		compatible = "dongwoon,dw9714";
		reg = <0xc>;
		rockchip,camera-module-index = <0>;
		rockchip,vcm-max-current = <100>;
		rockchip,vcm-start-current = <0>;
		rockchip,vcm-rated-current = <100>;
		rockchip,vcm-step-mode = <0xd>;
		rockchip,vcm-dlc-enable = <0>;
		rockchip,vcm-mclk = <0>;	
		rockchip,vcm-t-src = <0>;
		rockchip,camera-module-facing = "back";
	};

	dphy4_ov5647: ov5647@36 {
		compatible = "ovti,ov5647";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam_25m_clk>;
		clock-names = "ext_cam_25m_clk";
		pwdn-gpios = <&gpio6 8 GPIO_ACTIVE_LOW>;
		lens-focus = <&dphy4_dw9714>;

		port {
			ov5647_dphy4_out: endpoint {
				remote-endpoint = <&dphy4_in_ov5647>;
				data-lanes = <1 2>;
			};
		};
	};

	dphy4_ov5648: ov5648@36 {
		compatible = "ovti,ov5648";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		pwdn-gpios = <&gpio6 8 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio6 9 GPIO_ACTIVE_LOW>;
		rotation = <180>;

		rockchip,camera-module-index = <2>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "THDS11073";
		rockchip,camera-module-lens-name = "Largan-40122a1";
		lens-focus = <&dphy4_dw9714>;

		port {
			/* MIPI CSI-2 bus endpoint */
			ov5648_dphy4_out: endpoint {
				remote-endpoint = <&dphy4_in_ov5648>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

	dphy4_ov8858: ov8858@36 {
		compatible = "ovti,ov8858";
		status = "okay";
		reg = <0x36>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		pwdn-gpios = <&gpio6 8 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio6 9 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <2>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HS5885-BNSM1018-V01";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dphy4_dw9714>;

		port {
			/* MIPI CSI-2 bus endpoint */
			ov8858_dphy4_out: endpoint {
				remote-endpoint = <&dphy4_in_ov8858>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

    dphy4_ov13850: ov13850@10 {
		compatible = "ovti,ov13850";
		status = "disabled";
		reg = <0x10>;
		clocks = <&ext_cam_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam_dovdd>; /* 1.8v */
		avdd-supply = <&cam_avdd>;  /* 2.8v */
		dvdd-supply = <&cam_dvdd>;  /* 1.2v */
		pwdn-gpios = <&gpio6 8 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio6 9 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <2>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "ZC-OV13850R2A-V1";
		rockchip,camera-module-lens-name = "Largan-50064B31";
		lens-focus = <&dphy4_dw9714>;

		port {
			/* MIPI CSI-2 bus endpoint */
			ov13850_dphy4_out: endpoint {
				remote-endpoint = <&dphy4_in_ov13850>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
    };
};

&csi2_dphy1_hw {
	status = "okay";
};

&csi2_dphy4 {
	status = "okay";
	
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy4_in_ov5648: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ov5648_dphy4_out>;
				data-lanes = <1 2>;
			};

			dphy4_in_ov8858: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&ov8858_dphy4_out>;
				data-lanes = <1 2>;
			};

			dphy4_in_ov13850: endpoint@3 {
				reg = <3>;
				remote-endpoint = <&ov13850_dphy4_out>;
				data-lanes = <1 2>;
			};

			dphy4_in_ov5647: endpoint@4 {
				reg = <4>;
				remote-endpoint = <&ov5647_dphy4_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy4_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi4_csi2_input>;
			};
		};
	};
};

&mipi4_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi4_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy4_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi4_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in4>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds4 {
	status = "okay";

	port {
		cif_mipi_in4: endpoint {
			remote-endpoint = <&mipi4_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds4_sditf {
	status = "okay";

	port {
		mipi_lvds4_sditf: endpoint {
			remote-endpoint = <&isp1_vir1>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&rkisp1 {
	status = "okay";
};

&isp1_mmu {
	status = "okay";
};

&rkisp1_vir1 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp1_vir1: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds4_sditf>;
		};
	};
};

