// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/ {
	ext_cam1_37m_clk: external-camera-37m-clock {
		compatible = "fixed-clock";
		clock-frequency = <37125000>;
		clock-output-names = "ext_cam_37m_clk";
		#clock-cells = <0>;
	};

	ext_cam1_25m_clk: external-camera-25m-clock {
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		clock-output-names = "ext_cam_25m_clk";
		#clock-cells = <0>;
	};

	ext_cam1_24m_clk: external-camera-24m-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "ext_cam_24m_clk";
	};

	vdd_cam1_5v: vdd-cam1-5v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cam_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	cam1_dovdd: cam1-dovdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dovdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vdd_cam1_5v>;
	};

	cam1_avdd: cam1-avdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_avdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&vdd_cam1_5v>;
	};

	cam1_dvdd: cam1-dvdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dvdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vdd_cam1_5v>;
	};
};

/* Link path: sensor->csi2_dphy1->mipi1_csi2->rkcif_mipi_lvds1--->rkcif_mipi_lvds1_sditf->rkisp0_vir1 */
&i2c5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5m3_xfer>;

	dw9714_1: dw9714-1@c {
		status = "okay";
		compatible = "dongwoon,dw9714";
		reg = <0xc>;
		rockchip,camera-module-index = <0>;
		rockchip,vcm-max-current = <100>;
		rockchip,vcm-start-current = <0>;
		rockchip,vcm-rated-current = <100>;
		rockchip,vcm-step-mode = <0xd>;
		rockchip,vcm-dlc-enable = <0>;
		rockchip,vcm-mclk = <0>;	
		rockchip,vcm-t-src = <0>;
		rockchip,camera-module-facing = "back";
	};

	ov5647_1: ov5647-1@36 {
		compatible = "ovti,ov5647";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam1_25m_clk>;
		clock-names = "ext_cam_25m_clk";
		pwdn-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_LOW>;
		lens-focus = <&dw9714_1>;

		port {
			ov5647_out1: endpoint {
				remote-endpoint = <&dcphy1_in_ov5647>;
				data-lanes = <1 2>;
			};
		};
	};

	ov5648_1: ov5648-1@36 {
		compatible = "ovti,ov5648";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam1_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam1_dovdd>; /* 1.8v */
		avdd-supply = <&cam1_avdd>;  /* 2.8v */
		dvdd-supply = <&cam1_dvdd>;  /* 1.2v */
		pwdn-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_LOW>;
		rotation = <180>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "THDS11073";
		rockchip,camera-module-lens-name = "Largan-40122a1";
		lens-focus = <&dw9714_1>;

		port {
			/* MIPI CSI-2 bus endpoint */
			ov5648_out1: endpoint {
				remote-endpoint = <&dcphy1_in_ov5648>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

	ov8858_1: ov8858-1@36 {
		compatible = "ovti,ov8858";
		status = "disabled";
		reg = <0x36>;
		clocks = <&ext_cam1_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam1_dovdd>; /* 1.8v */
		avdd-supply = <&cam1_avdd>;  /* 2.8v */
		dvdd-supply = <&cam1_dvdd>;  /* 1.2v */
		pwdn-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HS5885-BNSM1018-V01";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714_1>;

		port {
			/* MIPI CSI-2 bus endpoint */
			ov8858_out1: endpoint {
				remote-endpoint = <&dcphy1_in_ov8858>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};

   ov13850_1: ov13850-1@10 {
		compatible = "ovti,ov13850";
		status = "disabled";
		reg = <0x10>;
		clocks = <&ext_cam1_24m_clk>;
		clock-names = "xvclk";
		dovdd-supply= <&cam1_dovdd>; /* 1.8v */
		avdd-supply = <&cam1_avdd>;  /* 2.8v */
		dvdd-supply = <&cam1_dvdd>;  /* 1.2v */
		pwdn-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
		rotation = <180>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "ZC-OV13850R2A-V1";
		rockchip,camera-module-lens-name = "Largan-50064B31";
		lens-focus = <&dw9714_1>;

		port {
			/* MIPI CSI-2 bus endpoint */
			ov13850_out1: endpoint {
				remote-endpoint = <&dcphy1_in_ov13850>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
    };

	imx415_1: imx415-1@1a {
		compatible = "sony,imx415";
		status = "okay";
		reg = <0x1a>;
		clocks = <&ext_cam1_37m_clk>;
		clock-names = "xvclk";
		avdd-supply = <&cam1_avdd>;
		dovdd-supply = <&cam1_dovdd>;
		dvdd-supply = <&cam1_dvdd>;
		reset-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_LOW>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CMK-OT2022-PX1";
		rockchip,camera-module-lens-name = "IR0147-50IRC-8M-F20";
		port {
			imx415_out1: endpoint {
				remote-endpoint = <&dcphy1_in_imx415>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&mipi_dcphy1 {
	status = "okay";
};

&csi2_dcphy1 {
	status = "okay";
	
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dcphy1_in_ov5648: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&ov5648_out1>;
				data-lanes = <1 2>;
			};

			dcphy1_in_ov8858: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&ov8858_out1>;
				data-lanes = <1 2>;
			};

			dcphy1_in_ov13850: endpoint@3 {
				reg = <3>;
				remote-endpoint = <&ov13850_out1>;
				data-lanes = <1 2>;
			};
			
			dcphy1_in_ov5647: endpoint@4 {
				reg = <4>;
				remote-endpoint = <&ov5647_out1>;
				data-lanes = <1 2>;
			};

			dcphy1_in_imx415: endpoint@5 {
				reg = <5>;
				remote-endpoint = <&imx415_out1>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidcphy1_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi1_csi2_input>;
			};
		};
	};
};

&mipi1_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidcphy1_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi1_in0>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds1 {
	status = "okay";

	port {
		cif_mipi1_in0: endpoint {
			remote-endpoint = <&mipi1_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds1_sditf {
	status = "okay";

	port {
		mipi_lvds1_sditf: endpoint {
			remote-endpoint = <&isp0_vir1>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&rkisp0 {
	status = "okay";
};

&isp0_mmu {
	status = "okay";
};

&rkisp0_vir1 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_vir1: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds1_sditf>;
		};
	};
};

