// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/{
	ext_cam_25m_clk: external-camera-25m-clock {
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		clock-output-names = "ext_cam_25m_clk";
		#clock-cells = <0>;
	};

	ext_cam_24m_clk: external-camera-24m-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "ext_cam_24m_clk";
	}; 

	ext_cam_27m_clk: external-camera-27m-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <27000000>;
		clock-output-names = "ext_cam_27m_clk";
	};

	ext_cam_37m_clk: external-camera-37m-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <37125000>;
		clock-output-names = "ext_cam_37m_clk";
	};

	vdd_cam_5v: vdd-cam-5v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cam_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	cam_dovdd: cam-dovdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dovdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vdd_cam_5v>;
	};

	cam_avdd: cam-avdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_avdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&vdd_cam_5v>;
	};

	cam_dvdd: cam-dvdd {
		compatible = "regulator-fixed";
		regulator-name = "cam_dvdd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vdd_cam_5v>;
	};
};
