/*
 * SPDX-License-Identifier:     GPL-2.0+
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 Radxa Limited
 */

/dts-v1/;
#include "rk3568-radxa-cm3j.dtsi"

/ {
	model = "Radxa CM3J RPI CM4 IO";
	compatible = "radxa,cm3j-rpi-cm4-io", "radxa,cm3j", "rockchip,rk3568";

	vcc12v_dcin: vcc12v-dcin {
		u-boot,dm-pre-reloc;
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		u-boot,dm-spl;
		status = "okay";

		volumeup-key {
			u-boot,dm-spl;
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <9>;
		};
	};
};

&vcc5v0_sys {
	vin-supply = <&vcc12v_dcin>;
};

&gpio1 {
	u-boot,dm-pre-reloc;
};

&combphy2_psq {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&pcie2x1 {
	u-boot,dm-pre-reloc;
	reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&pcie20m1_pins>;
	status = "okay";
};

&gmac1 {
	status = "okay";
};

&mdio1 {
	status = "okay";
};
